<figure class="tiles column">
  <div class="category"><h2>Hotels</h2></div>
  {{#each hotels}}
    <div class="tiles">
      <div class="venue">
        <div class="favorites">
          <div class="favorites-icon">
            <a href="#"><img src="/assets/img/icons-heart.png"></a>
          </div>
        </div>
        <img src="http://cdn-image.travelandleisure.com/sites/default/files/styles/tlp_295x187_one_fourth/public/1444167829/NYC-1-Hotel-Central-Park-King-Room-Detail.jpg">
      </div>
      <div class="tiles deck">
        <h3><a href="http://www.travelandleisure.com/travel-guide/new-york-city/hotels/1-hotel-central-park">{{this.title}}</a></h3>
        <p><img src="/assets/img/5-star.png"><span class="reviews">{{this.totalRaitings}} Reviews</span></p>
      </div>
    </div>
  {{/each}}
</figure>
<figure class="tiles column">
  <div class="category"><h2>Food & Drinks</h2></div>
  {{#each restaurants}}
    <div class="tiles">
      <div class="venue">
        <div class="favorites">
          <div class="favorites-icon">
            <a href="#"><img src="/assets/img/icons-heart.png"></a>
          </div>
        </div>
        <img src="http://cdn-image.travelandleisure.com/sites/default/files/styles/tlp_295x187_one_fourth/public/1444167829/NYC-1-Hotel-Central-Park-King-Room-Detail.jpg">
      </div>
      <div class="tiles deck">
        <h3><a href="http://www.travelandleisure.com/travel-guide/new-york-city/hotels/1-hotel-central-park">{{this.title}}</a></h3>
        <p><img src="/assets/img/5-star.png"><span class="reviews">{{this.totalRaitings}} Reviews</span></p>
      </div>
    </div>
  {{/each}}
</figure>
<figure class="tiles column">
  <div class="category"><h2>What to See</h2></div>
  {{#each events}}
    <div class="tiles">
      <div class="venue">
        <div class="favorites">
          <div class="favorites-icon">
            <a href="#"><img src="/assets/img/icons-heart.png"></a>
          </div>
        </div>
        <img src="http://cdn-image.travelandleisure.com/sites/default/files/styles/tlp_295x187_one_fourth/public/1444167829/NYC-1-Hotel-Central-Park-King-Room-Detail.jpg">
      </div>
      <div class="tiles deck">
        <h3><a href="http://www.travelandleisure.com/travel-guide/new-york-city/hotels/1-hotel-central-park">{{this.title}}</a></h3>
        <p><img src="/assets/img/5-star.png"><span class="reviews">{{this.totalRaitings}} Reviews</span></p>
      </div>
    </div>
  {{/each}}
</figure>
<figure class="tiles column">
  <div class="category"><h2>Things to Do</h2></div>
  {{#each things-todo}}
    <div class="tiles">
      <div class="venue">
        <div class="favorites">
          <div class="favorites-icon">
            <a href="#"><img src="/assets/img/icons-heart.png"></a>
          </div>
        </div>
        <img src="http://cdn-image.travelandleisure.com/sites/default/files/styles/tlp_295x187_one_fourth/public/1444167829/NYC-1-Hotel-Central-Park-King-Room-Detail.jpg">
      </div>
      <div class="tiles deck">
        <h3><a href="http://www.travelandleisure.com/travel-guide/new-york-city/hotels/1-hotel-central-park">{{this.title}}</a></h3>
        <p><img src="/assets/img/5-star.png"><span class="reviews">{{this.totalRaitings}} Reviews</span></p>
      </div>
    </div>
  {{/each}}
</figure>
