<div class="filters-category">
    <div class="checkbox">
      <input type="checkbox" value="{{ value }}" id="checkbox" name="{{ value }}" {{filterChecked filter value}} class ="{{class}} {{filterActive filter value}}"/>
      <label for="{{ value }}">{{ label }}</label>
    </div>
</div>
