<script language="javascript">
  $(function(){



  });
</script>

<div class="tiles">
  <div class="venue">
    <div class="favorites">
      <div class="favorites-icon">
          <a href="#" id="{{tags}}" >
              <img id="{{title}}" onclick='$(this).btnClick("{{tags}}","{{title}}");' src="../../assets/img/icons-heart.png">
          </a>
      </div>
    </div>
    <a href="{{link}}"><img src="{{image}}"></a>
  </div>
  <div class="tiles deck">
    <h3><a href="{{link}}">{{title}}</a></h3>
    <p><img src="../../assets/img/5-star.png"><span class="reviews">{{totalRatings}} Reviews</span></p>
  </div>
</div>
